<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.herokuapp.darkfire.demopsp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />

                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "upi://pay" -->
                <data android:scheme="upi" android:host="pay" />

            </intent-filter>
        </activity>
    </application>

</manifest>
